<html>
    <head>
        <title>
            <%= locals.title%>
        </title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/style.css"-->
    </head>
    <body>
     <div class="title">  <i class="fas fa-address-book" style="margin-right: 20px"></i>My contacts</div>
        <div>
            <ul style="list-style-type: none">
                   
                <% for (let i of contact_list) { %> 
                   <div class="contact"> 
                        <li>
                            <p class="name"><%= i.name %></p>
                            <p class="phone"><%= i.phone %></p>
                            <a href="/delete-contact/?id=<%= i._id %>"> <p class="delete-button"> 
                                <i class="fas fa-times"style="color:red"></i>
                            </p></a>
                        </li>
                    </div>
                  
                <% } %>
            </ul>
        </div>

       <div class="form"> <form action="/create-contact" method="POST">
            <input type="text" name="name" placeholder="Enter name" required>
            <input type="number" name="phone" placeholder="Enter phone" required>
            <button type="submit">Add contact</button>
        </form>
        </div>
        <script type="text/javascript" src="/js/home.js"></script>
    </body>
</html>