<html>
    <head>
        <title>
            
            <%= locals.title%>

        </title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="./assets/style.css">
    </head>
    <body>
        
      <div class="title"> <i class="fas fa-address-book"></i>MY contact_list </div>
        <div>
            <ul>
                   
                <% for (let i of contact_list) { %> 
                    
                    <li>
                        <p><%= i.name %></p>
                    </li>
                    
                <% } %>
            </ul>
        </div>

        <form action="/create-contact" method="POST">
            <input type="text" name="name" placeholder="Enter name" required>
            <input type="number" name="phone" placeholder="Enter phone" required>
            <button type="submit">Add contact</button>
        </form>

    </body>
</html>
                        <p><%= i.phone %></p>
                    </li>
                    
                <% } %>
            </ul>
        </div>

        <form action="/create-contact" method="POST">
            <input type="text" name="name" placeholder="Enter name" required>
            <input type="number" name="phone" placeholder="Enter phone" required>
            <button type="submit">Add contact</button>
        </form>

    </body>
</html>